@charset "UTF-8";
/* CSS Document */
body {
	background-color: #0099cc;
	color: #ffffff;
}
	.black_overlay{
		background-color: black;
	}
	.white_content {
		background-color: #0099cc;
	}
	.block_page {
		background-color: #0099cc;
	}
	.cssbutton {
  		color: #CACACA;
  		background: #003399;
	}
	.cssbutton:hover {
		background: #0055bb;
	}
	.custom-file-input{
		color: #0099cc;
	}
	.custom-file-input::before {
  		color: #CACACA;
  		background: #003399;
	}
	.custom-file-input:hover::before {
  		background: #0055bb;
	}
	.custom-file-input:active::before {
  		background: #0055bb;
	}
	.cssbox {
  		color: #000000;
  		background: #D7FFD7;		
  		border: 1px solid #D3D3D3;
	}

ul#tabs { background-color: #003399; }
ul#tabs li a { color: #BDBDBD; background-color: #003399; }
ul#tabs li a:hover { background-color: #0055bb; }
ul#tabs li a.selected { color: #E0E0E0; background-color: #0099cc; }

div.tabContent { background-color: #0099cc; }

select {
	border:1px solid #dedede;
	color: #666666;
	background: #D7FFD7;
}

#toolBar1 {
	background: #003399;
}