@charset "UTF-8";
/* CSS Document */
body {
	background-color: #000000;
	color: #FFFFFF;
}
	.black_overlay{
		background-color: gray;
	}
	.white_content {
		background-color: black;
	}
	.block_page {
		background-color: black;
	}
	.cssbutton {
  		color: #cfcfcf;
  		background: #7b7b7b;
	}
	.cssbutton:hover {
		background: #8f8f8f;
	}
	.custom-file-input{
		color: #000000;
	}
	.custom-file-input::before {
  		color: #cfcfcf;
  		background: #7b7b7b;
	}
	.custom-file-input:hover::before {
  		background: #8f8f8f;
	}
	.custom-file-input:active::before {
  		background: #8f8f8f;
	}
	.cssbox {
  		color: #ffffff;
  		background: #111111;
		border:1px solid #7b7b7b;
	}

ul#tabs { background-color: #455245; }
ul#tabs li a { color: #B7B7B7; background-color: #455245; }
ul#tabs li a:hover { background-color: #344134; }
ul#tabs li a.selected { color: #B7B7B7; background-color: #000000; }

div.tabContent { background-color: #000000; }

select {
	border:1px solid #dedede;
	color: #868585;
	background: #111111;
}

#toolBar1 {
	background: #7b7b7b;
}