@charset "UTF-8";
/* CSS Document */
body {
	background-color: #99cc99;
	color: #000000;
}
	.black_overlay{
		background-color: black;
	}
	.white_content {
		background-color: #99cc99;
	}
	.block_page {
		background-color: #99cc99;
	}
	.cssbutton {
  		color: #595959;
  		background: #cccc99;
	}
	.cssbutton:hover {
		background: #bfbf83;
	}
	.custom-file-input{
		color: #99cc99;
	}
	.custom-file-input::before {
  		color: #595959;
  		background: #cccc99;
	}
	.custom-file-input:hover::before {
  		background: #bfbf83;
	}
	.custom-file-input:active::before {
  		background: #bfbf83;
	}
	.cssbox {
  		color: #000000;
  		background: #ffffcc;		
  		border: 1px solid #D3D3D3;
	}

ul#tabs { background-color: #9999cc; }
ul#tabs li a { color: #e1e1e1; background-color: #9999cc; }
ul#tabs li a:hover { background-color:#aaaadd; }
ul#tabs li a.selected { color: #f8f8f8; background-color: #99cc99; }

div.tabContent { background-color: #99cc99; }

select {
	border:1px solid #dedede;
	color: #666666;
	background: #ffffcc;
}

#toolBar1 {
	background: #cccc99;
}

