@charset "UTF-8";
/* CSS Document */
body {
	background-color: #cc3300;
	color: #FFFFFF;
}
	.black_overlay{
		background-color: black;
	}
	.white_content {
		background-color: #cc3300;
	}
	.block_page {
		background-color: #cc3300;
	}
	.cssbutton {
  		color: #CACACA;
  		background: #663333;
	}
	.cssbutton:hover {
		background: #885555;
	}
	.custom-file-input{
		color: #cc3300;
	}
	.custom-file-input::before {
  		color: #CACACA;
  		background: #663333;
	}
	.custom-file-input:hover::before {
  		background: #885555;
	}
	.custom-file-input:active::before {
  		background: #885555;
	}
	.cssbox {
  		color: #000000;
  		background: #ffcc99;
		border:1px solid #7b7b7b;
	}

ul#tabs { background-color: #000000; }
ul#tabs li a { color: #BDBDBD; background-color: #000000; }
ul#tabs li a:hover { background-color: #663333; }
ul#tabs li a.selected { color: #E0E0E0; background-color: #CC3300; }

div.tabContent { background-color: #cc3300; }

select {
	border:1px solid #dedede;
	color: #666666;
	background: #ffcc99;
}
	
#toolBar1 {
	background: #663333;
}