<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fruiz500.passlok"
        versionCode = "10" 
        version     = "1.7.7" >
		
    <name>PassLok</name>

    <description>
        Elliptic curves on top of AES, and much more. 
    </description>

    <author href="https://passlok.com" email="passlokprivacy@gmail.com">
        Francisco Ruiz 
    </author>

<gap:plugin name="com.phonegap.plugin.statusbar" />

<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
<preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />

<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>

<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="phonegap/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:density="ldpi" />
    <gap:splash src="phonegap/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:density="mdpi" />
    <gap:splash src="phonegap/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:density="hdpi" />
    <gap:splash src="phonegap/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="phonegap/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="phonegap/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="phonegap/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="phonegap/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="phonegap/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
	<gap:splash src="phonegap/screen/ios/screen-ipad-portrait-2x.png"        gap:platform="ios"     width="1536" height="2048" />
    <gap:splash src="phonegap/screen/ios/screen-ipad-landscape-2x.png"       gap:platform="ios"     width="2048" height="1536" />

</widget>